/****************
*** DEFAULTS
*****************/
* { margin: 0px; padding: 0px; }
body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}
/* HEADINGS DEFAULT */
h1, h2, h3, h4, h5, h6 { color: rgb(26, 26, 26); }
a { text-decoration: none; }
ul, ol { margin-left: 40px; }
hr { margin: 10px 0px; }
.left-menu{
  position: absolute;
  display: table-row;
  background-color: black;
  height: max-content;
  width:200px;
  left: 0;
}
.item-left-menu{ cursor: pointer; }
.item-left-menu:hover{ background-color: rgba(255, 255, 255, 0.25); }